<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MavenJenkins Suite">
  
  <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      
  </listeners>
  
  <test name="EditCustomer Test">
    <classes>
      <class name="com.Mycomp.MavenJenkins.MavenJenkins.EditCustomer"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="DeleteCustomer Test">
    <classes>
      <class name="com.Mycomp.MavenJenkins.MavenJenkins.DeleteCustomer"/>
    </classes>
   </test> <!-- Test -->
</suite> <!-- Suite -->
  
  
